<ion-view>

  <ion-header-bar class="bar-calm">
    <h1 class="title">Calendar</h1>
  </ion-header-bar>


  <div class="bar bar-subheader item-input-inset bar-light">
    <label for="" class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div>


  <ion-content class="has-subheader">

    <ion-refresher on-refresh="doRefresh()" pulling-text="Pull to refresh">
    </ion-refresher>

      <div class="day" ng-repeat="(dayIndex, day) in calendar">
        <div class="item item-divider item-divider-calm">
          {{day.weekday}}
        </div>

        <div class="item item-list item-text-wrap dayhighlight" ng-show="day.title">
          <h2>{{day.title}}</h2>
          {{day.description}}
        </div>

        <ion-list>
          <ion-item ng-class="{'star': item.star}" class="item-text-wrap item-icon-right"
          ng-repeat="item in day.schedule | filter: query"
          >
            <img ng-show="item.style">
            <h2>{{item.time}}</h2>
            <h3>{{item.style}}</h3>
            <h4>{{ item.teacher ? ' with ' + item.teacher : ''}}</h4>
            <!-- <p>{{item.description}}</p> -->

            <button class="button button-clear icon ion-star button-assertive" ng-click="toggleStar(item)"
              ng-show="item.star">
            </button>

            <ion-option-button class="button-calm" ng-click="toggleStar(item)">
                <i class="icon ion-star"></i>
            </ion-option-button>

            <ion-option-button class="button-assertive" ng-click="onItemDelete(dayIndex, item)">
                <i class="icon ion-trash-a"></i>
            </ion-option-button>
          </ion-item>
        </ion-list>

      </div>
  </ion-content>

</ion-view>
