/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png')
}
.star > .item-content {
  background-color: #11c1f3 !important;
}

.splash {
  background: url(../img/dance.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.branding {
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
}

.branding p {
  font-style: italic;
  font-size: 1.5em;
}

.item-divider {
  background-color: #11c1f3;
}

.dayhighlight {
  background-color: #9ec6de;
  border-top: 20px solid #417d9a;
}

.dayhighlight h2 {
  color: #417d9a;
  font-size: 2rem;
  font-weight: 200;
}

.create {
  margin-right: 5px;
}

  .create:hover {
    background-color: #11c1f3;
  }
